/* For mobile portrait user experience 
(tested on Android mobiles with HD and FHD screen) */
.Calculator {
  display: block;
  padding: 10px;
  margin: 5px;
  border: 2px solid #5D6063;
}

/* For desktop user experience (resolution with width greater than 1080px)*/
@media only screen and (min-width: 1081px){
  .Calculator {
    margin: 50px auto;
    width: 20%;
    border: 2px solid #5D6063;
  }
}
